@model OneDriveIntegrator.Services.MicrosoftGraph.Models.ItemsResponse
@{
    ViewData["Title"] = "Items";
}

<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>File / Folder</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @item.Name
                </a>
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @if (item.IsFile())
                {
                    <div>Plik (@item.File!.Type)</div>
                }
                else
                {
                    <div>Folder (@item.Folder!.ChildCount)</div>
                }
            </td>
        </tr>
    }
    </tbody>
</table>